{% extends 'base.html' %}

{% block title %}
  Ds-Shop - Product
{% endblock %}


{% block content %}
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <img src="{{ item.image.url }}" class="img-fluid" alt="">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
            <h3>{{ object.title }}</h3>
            <div class="mb-3">
              <a href="{{ item.category.get_absolute_url }}">
                <span class="badge purple mr-1">{{ object.category }}</span>
              </a>
            </div>

            <p class="lead">
              Цена:
              {% if object.discount_price %}
              <span class="mr-1">
                <del>${{ object.price }}</del>
              </span>
              <span>${{ object.discount_price }}</span>
              {% else %}
              <span>${{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Описание товара</p>

            <hr>

            <p>{{ object.description }}</p>

            <hr>

            <!--</form>-->
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md mt-4">
                Добавить в корзину
                <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md mt-4">
                Удалить из корзины
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Рекомендуем следущие товары</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://i.allo.ua/media/Rich_Review/xiaomi_redmi_7/phone_01.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://snr.ru/cdn/article/493/ASUS-TUF-Gaming-FX504_Black-Matter_Product-Photo-16_Light_Gears-of-War-4-Wallpaper.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://images.ua.prom.st/1161070099_w640_h640_detskie-naushniki-serii.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
{% endblock %}
